apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    uid: prometheus-datasource
    editable: true
    jsonData:
      httpMethod: POST
      manageAlerts: true
      alertmanagerUid: alertmanager-datasource
      prometheusType: Prometheus
      prometheusVersion: 2.40.0
      cacheLevel: 'High'
      disableRecordingRules: false
      incrementalQueryOverlapWindow: 10m

  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://localhost:9093
    uid: alertmanager-datasource
    editable: true
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: true
